## .NET
bin/
obj/
*.user
*.suo
.vs/
*.DotSettings.user

## Build outputs
publish/
*.exe
*.dll
*.pdb

## C++ / MSVC native build
build/
*.obj
*.res
*.ilk
*.exp
*.lib
*.idb
*.tlog

## OS
.DS_Store
Thumbs.db

## Rider
.idea/

## VS Code
.vscode/
